<h1 style="text-align: center; color: blue;" > About me  </h1>
<h4> My descripiont: </h4>
<p> My name is Omar Hernandez Mella, a 4th year student of Industrial Civil Engineering at the Universidad de los Andes. In the academic field,
I stand out for my grades in programming and mathematics courses, because in my school I developed a lot of analytical thinking. 
I excel in courses like calculus and edo. in addition to object-oriented programming courses. 
On a personal level, I stand out for my high level of leadership, being so I participated in scouting for 13 years and in most of the case participating as a guide of the communities and my main hobbies are doing sports 
activities such as going to the gym and playing soccer, I am also passionate about backpacking and I plan to do one towards the Torres del Paine this summer. </p>